/* App.css */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #f0f0f0;
}

.linkInActive {
  color: var(--red-color);
}
.linkActive {
  font-size: 2.2rem;
}

.linkActive:hover,
.linkInActive:hover {
  background-color: rgba(27, 145, 219, 0.846);
}

/* Add this CSS to your stylesheet */
.valid {
  border: 2px solid green;
}

.invalid {
  border: 2px solid red;
}
